<h1>Hotels</h1>


<div *ngFor="let hotel of hotels">
  <p>name : {{hotel.name}}</p>
  <p>numberOfStars : {{hotel.numberOfStars}}</p>
  <p>description : {{hotel.description}}</p>
  <p>cityId : {{hotel.cityId}}</p>
</div>
<br>
<br>
<a href="http://localhost:4200/create-hotel">
  <button>Create-Hotels</button>
</a>

<br>
<br>
<a href="http://localhost:4200/home-page">
  <button>Homepage</button>
</a>

