<h1>Reservations</h1>

<div *ngFor="let reservation of reservations">
  <p>roomId : {{reservation.roomId}}</p>
  <p>userId : {{reservation.userId}}</p>
  <p>startDate : {{reservation.startDate}}</p>
  <p>endDate: {{reservation.endDate}}</p>
</div>

<a href="http://localhost:4200/reservations">
  <button>Reservations</button>
</a>

<br>
<br>
<a href="http://localhost:4200/home-page">
  <button>Homepage</button>
</a>
