<h1>Countries</h1>

<div *ngFor="let country of countries">
  <p>name : {{country.name}}</p>
</div>

<br>
<br>
<a href="http://localhost:4200/create-country">
  <button>Create-Country</button>
</a>


<br>
<br>
<a href="http://localhost:4200/home-page">
  <button>Homepage</button>
</a>



